
/* AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: .95rem;
  height: 65%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-text-fill-color: #666 !important;
}
/* AUTOFILL END */


/* FORM CONTROL FIELDS*/
.MuiFormControl-root .MuiFormLabel-root {
  font-size: .95rem !important;
  font-weight: 500;
  color: #666;
}

.MuiInputBase-root {
  background-color: #f6f6f6b2;
  border-radius: 13px !important;
  height: 42px;
  box-sizing: border-box;
}

.MuiInputBase-root ::placeholder {
  font-size: .95rem;
  font-style: normal;
  font-weight: 500;
}

.MuiFormControl-root {
  width: 100%;
  padding: 20px;
}

#special-requests {
  width: 100%;
  height: 100px;
}

.MuiFormControl-root .MuiInputBase {
  width: 100%;
  height: 100%;
}
/* FORM CONTROL FIELDS END */

/* TEXTAREA FIELD */
.textarea-autosize {
  width: 100%;
  font-size: .9rem;
  border: 1px solid #666;
  border-radius: 13px;
  padding: 8.5px 14px;
  resize: vertical;
  overflow-x: hidden;
  background-color: #f6f6f6b2; /* Use background-color instead of bgColor */
  color: #666;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.textarea-autosize::placeholder {
  font-size: .9rem;
  color: #666;
}

.textarea-autosize:focus {
  border: 1px solid rgb(79, 85, 255);
}

.textarea-autosize:blur {
  border-color: #eee;
}
/* END OF TEXTAREA */